version: '2'
services:
  rabbit-1-server:
    image: ttsubo/rabbitmq:juno
    command: /bin/sh -c "/usr/local/bin/start-rabbitmq.sh"
    container_name: rabbit-1-server
    hostname: rabbit-1-server
    environment:
      - ERLANG_COOKIE=abcdefg
    ports:
      - 15672:15672
    volumes:
    - ./log/rabbit-1-server:/var/log/rabbitmq
    privileged: true

  rabbit-2-server:
    image: ttsubo/rabbitmq:juno
    command: /bin/sh -c "sleep 5; /usr/local/bin/start-rabbitmq.sh"
    container_name: rabbit-2-server
    hostname: rabbit-2-server
    depends_on:
    - rabbit-1-server
    environment:
      - ERLANG_COOKIE=abcdefg
      - CLUSTER_WITH=rabbit-1-server
    ports:
      - 15673:15672
    volumes:
    - ./log/rabbit-2-server:/var/log/rabbitmq
    privileged: true

  rabbit-3-server:
    image: ttsubo/rabbitmq:juno
    command: /bin/sh -c "sleep 10; /usr/local/bin/start-rabbitmq.sh"
    container_name: rabbit-3-server
    hostname: rabbit-3-server
    depends_on:
    - rabbit-1-server
    environment:
      - ERLANG_COOKIE=abcdefg
      - CLUSTER_WITH=rabbit-1-server
    ports:
      - 15674:15672
    volumes:
    - ./log/rabbit-3-server:/var/log/rabbitmq
    privileged: true

  haproxy-1-rabbitmq:
    image: ttsubo/haproxy-1:juno
    command: /bin/sh -c "service rsyslog start; haproxy -db -f /usr/local/etc/haproxy/haproxy.cfg"
    depends_on:
    - rabbit-1-server
    - rabbit-2-server
    - rabbit-3-server
    ports:
    - "5672:5672"
    volumes:
    - ./log/haproxy-rabbitmq:/var/log
    container_name: haproxy-1-rabbitmq
    hostname: haproxy-1-rabbitmq

  haproxy-2-rabbitmq:
    image: ttsubo/haproxy-2:juno
    command: /bin/sh -c "service rsyslog start; haproxy -db -f /usr/local/etc/haproxy/haproxy.cfg"
    depends_on:
    - rabbit-1-server
    - rabbit-2-server
    - rabbit-3-server
    ports:
    - "5673:5673"
    volumes:
    - ./log/haproxy-rabbitmq:/var/log
    container_name: haproxy-2-rabbitmq
    hostname: haproxy-2-rabbitmq

  heat-1-engine:
    image: ttsubo/ubuntu:juno
    command: /bin/sh -c "sleep 20; python heat-engine.py --config-file conf/heat-2.conf > /log/heat-1-engine.log 2>& 1"
    volumes:
    - ./log:/log
    container_name: heat-1-engine
    hostname: heat-1-engine

  heat-1-api:
    image: ttsubo/ubuntu:juno
    command: /bin/sh -c "sleep 60; python heat-api.py --config-file conf/heat-1.conf > /log/heat-1-api.log 2>& 1"
    volumes:
    - ./log:/log
    container_name: heat-1-api
    hostname: heat-1-api

